<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.ChallengeItemDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.model.challenge.ChallengeItem">
        insert into challenge_item(
        challengeId,
        challengeName,
        challengeType,
        projectId,
        forumId,
        detailedRequirements,
        screeningScorecardId,
        reviewScorecardId,
        numberOfCheckpointsPrizes,
        topCheckPointPrize,
        currentStatus,
        postingDate,
        registrationEndDate,
        submissionEndDate,
        finalFixEndDate,
        appealsEndDate,
        checkpointSubmissionEndDate,
        forumLink,
        registrationStartDate,
        digitalRunPoints,
        reliabilityBonus,
        technology,
        prize,
        platforms,
        numSubmissions,
        numRegistrants
        ) values(
        #{challengeId},
        #{challengeName},
        #{challengeType},
        #{projectId},
        #{forumId},
        #{detailedRequirements},
        #{screeningScorecardId},
        #{reviewScorecardId},
        #{numberOfCheckpointsPrizes},
        #{topCheckPointPrize},
        #{currentStatus},
        #{postingDate},
        #{registrationEndDate},
        #{submissionEndDate},
        #{finalFixEndDate},
        #{appealsEndDate},
        #{checkpointSubmissionEndDate},
        #{forumLink},
        #{registrationStartDate},
        #{digitalRunPoints},
        #{reliabilityBonus},
        #{technology,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
        #{prize,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
        #{platforms,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
        #{numSubmissions},
        #{numRegistrants})
    </insert>

    <select id="getChallengeItemById" parameterType="int" resultType="com.buaa.act.sdp.model.challenge.ChallengeItem">
        select * from challenge_item where challengeId = #{challengeId}
    </select>

    <select id="getChallengeItemRequirementById" parameterType="int" resultType="java.lang.String">
        select detailedRequirements from challenge_item where challengeId = #{challengeId}
    </select>

    <select id="getChallenges" resultType="java.lang.Integer">
        select challengeId from challenge_item
    </select>

    <select id="getAllChallenges" resultType="com.buaa.act.sdp.model.challenge.ChallengeItem">
        select * from challenge_item
    </select>

    <select id="getAllDesignChallenges" resultType="com.buaa.act.sdp.model.challenge.ChallengeItem">
        select * from challenge_item where typeName = "design"
    </select>

    <update id="updateChallenges" parameterType="com.buaa.act.sdp.model.challenge.ChallengeItem">
        UPDATE challenge_item SET duration=#{duration} , numSubmissions=#{numSubmissions} ,
        numRegistrants=#{numRegistrants} ,languages=#{languages} where challengeId=#{challengeId}
    </update>

    <select id="getAllPrizes" resultType="java.lang.String">
        select prize from challenge_item
    </select>

    <select id="getAllReliabilityBonus" resultType="java.lang.Integer">
        select reliabilityBonus from challenge_item
    </select>

    <select id="getAllDuration" resultType="java.lang.Integer">
        select duration from challenge_item
    </select>

    <select id="getAllNumRegistrants" resultType="java.lang.Integer">
        select numRegistrants from challenge_item
    </select>

    <select id="getAllNumSubmissions" resultType="java.lang.Integer">
        select numSubmissions from challenge_item
    </select>

    <select id="getProjectId" resultType="java.util.Map">
        SELECT challengeId,projectId,challengeType from challenge_item where projectId>0
    </select>

    <select id="getDifficultyDegree" resultType="java.lang.Double">
        SELECT difficultyDegree from challenge_item where challengeId=#{challengeId}
    </select>

    <update id="insertDifficultyDegree">
        <foreach collection="relationMap" index="key1" item="value1" separator=";">
            UPDATE challenge_item set diff=#{value1} where challengeId=#{key1}
        </foreach>
    </update>

    <update id="setHandledRequirements">
        UPDATE challenge_item set requirements=#{requirements} where challengeId=#{challengeId}
    </update>

    <select id="getAllPlatforms" resultType="java.lang.String">
        SELECT platforms from challenge_item
    </select>

    <select id="getAllTechnology" resultType="java.lang.String">
        SELECT technology from challenge_item
    </select>
</mapper>