<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.ChallengeSubmissionDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.model.challenge.ChallengeSubmission" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        challenge_submission(challengeID,handle,placement,submissionDate,submissionStatus,points,finalScore,screeningScore,initialScore,submissionDownloadLink)
        values
        <foreach collection="array" item="item" index="index" separator=",">
            (#{item.challengeID},#{item.handle},#{item.placement},#{item.submissionDate},#{item.submissionStatus},#{item.points},#{item.finalScore},#{item.screeningScore},#{item.initialScore},#{item.submissionDownloadLink})
        </foreach>
    </insert>

    <select id="getChallengeSubmission" parameterType="com.buaa.act.sdp.model.challenge.ChallengeSubmission"
            resultType="com.buaa.act.sdp.model.challenge.ChallengeSubmission">
        select * from challenge_submission where challengeID = #{challengeID} AND handle = #{handle};
    </select>

    <select id="getUserSubmissons" resultType="java.util.Map">
        select handle,group_concat(CAST(challengeID as char)) as challengeIds,group_concat(finalScore) as scores from
        challenge_submission group by handle having count(DISTINCT challengeID)>=10;
    </select>

    <select id="getChallengeSubmissionCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT handle) from challenge_submission where challengeID=#{challengeId};
    </select>

    <select id="getChallengeWinner" resultType="com.buaa.act.sdp.model.challenge.ChallengeSubmission">
        SELECT handle,challengeId,finalScore,placement,submissionStatus from challenge_submission ORDER BY challengeID
        ASC;
    </select>

    <select id="getSubmissionByHandle" parameterType="java.lang.String"
            resultType="com.buaa.act.sdp.model.challenge.ChallengeSubmission">
        select * from challenge_submission where handle = #{handle}
    </select>

    <select id="getUserSubers" resultType="java.lang.Integer">
        select count(DISTINCT challengeID) from challenge_submission where handle=#{handle}
    </select>

    <select id="getUserWiners" resultType="java.lang.Integer">
        select count(DISTINCT challengeID) from challenge_submission where handle=#{handle} AND placement= 1
    </select>

    <select id="getAllSubmission" resultType="java.lang.String">
        select finalScore from challenge_submission
    </select>
</mapper>