<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.CollaborationRelationDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.model.challenge.CollaborationRelation">
        insert into collaborationRelation(
        handle1,
        handle2,
        score1,
        score2,
        projectId,
        challengeId1,
        challengeId2
        ) values(
        #{handle1},
        #{handle2},
        #{score1},
        #{score2},
        #{projectId},
        #{challengeId1},
        #{challengeId2})
    </insert>

    <delete id="deleteAll">
        DELETE FROM collaborationRelation
    </delete>

    <select id="getCollaborations" resultType="java.lang.String">
        SELECT handle2 from collaborationRelation where handle1=#{handle1};
    </select>


</mapper>