<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.CompetitionRelationDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.model.challenge.CompetitionRelation">
        insert into competitionRelation(
        handle1,
        handle2,
        score1,
        score2,
        challengeId1
        ) values(
        #{handle1},
        #{handle2},
        #{score1},
        #{score2},
        #{challengeId}
    </insert>

    <delete id="deleteAll">
        DELETE FROM competitionRelation
    </delete>

    <select id="getCompetitions" resultType="com.buaa.act.sdp.model.challenge.CompetitionRelation">
        SELECT * from competitionRelation where handle1=#{handle1};
    </select>


</mapper>