<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.DevelopmentHistoryDao">
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into development_history(
        handle,
        developType,
        competitions,
        submissions,
        submissionRate,
        inquiries,
        passedScreening,
        screeningSuccessRate,
        passedReview,
        reviewSuccessRate,
        appeals,
        appealSuccessRate,
        wins,
        winPercentage,
        maximumScore,
        minimumScore,
        averageScore,
        averagePlacement) values
        <foreach collection="list" item="item" index="index" separator=",">(
            #{item.handle},
            #{item.developType},
            #{item.competitions},
            #{item.submissions},
            #{item.submissionRate},
            #{item.inquiries},
            #{item.passedScreening},
            #{item.screeningSuccessRate},
            #{item.passedReview},
            #{item.reviewSuccessRate},
            #{item.appeals},
            #{item.appealSuccessRate},
            #{item.wins},
            #{item.winPercentage},
            #{item.maximumScore},
            #{item.minimumScore},
            #{item.averageScore},
            #{item.averagePlacement})
        </foreach>
    </insert>

    <select id="getChallengeCountByHandle" resultType="com.buaa.act.sdp.model.user.DevelopmentHistory">
        SELECT * from development_history where handle=#{handle}
    </select>
</mapper>