<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.dao.UserSkillDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.model.user.UserSkill" useGeneratedKeys="true" keyProperty="id">
        insert into userSkill(handle,skill,score) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.handle},#{item.skill},#{item.score})
        </foreach>
    </insert>

    <insert id="insertEach" parameterType="com.buaa.act.sdp.model.user.UserSkill" useGeneratedKeys="true"
            keyProperty="id">
        insert into userSkill(handle,skill,score) values
        (#{handle},#{skill},#{score})
    </insert>
</mapper>